<nav
      class="navbar navbar-expand-lg navbar-light"
      style="background-color: #8dacbd"
    >
      <div class="container">
        <a class="navbar-brand active" href="#">Expense Tracker</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <!-- <nav class="navbar navbar-expand-lg navbar-green bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Expense Tracker</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto"> -->

            <li class="nav-item">
              <button
                class="nav-link btn-info m-2"
                id="leaderboard"
                title="Upgrade to Premium to unlock this feature">
                <span>&#128274;</span>Leaderboard<span>&#128202;</span>
              </button>
            </li>
            <li class="nav-item">
              <button class="nav-link btn-info m-2" id="viewexpenses">
                <span>&#128176;</span> View Expenses
              </button>
            </li>
            <li class="nav-item">
              <button class="nav-link btn-info m-2" id="addexpenses">
                <span>&#128184;</span>Add Expenses
              </button>
            </li>
            <li class="nav-item">
              <button class="nav-link btn-info m-2" id="reports">
                Reports<span>&#128240;</span>
              </button>
            </li>
            <li class="nav-item dropdown">
              <button
                class="nav-link btn-info m-2 dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <span>&#127912;</span>Theme
              </button>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <button class="dropdown-item" href="#">violet</button>
                <button class="dropdown-item" href="#">light</button>
                <button class="dropdown-item" href="#">dark</button>
              </div>
            </li>
            <li class="nav-item">
              <button class="nav-link btn-info m-2" id="homepage">
                <span>&#128081;</span>Buy Premium
              </button>
            </li>
            <li class="nav-item">
              <button class="nav-link btn-info m-2" id="homepage">
                <span>&#128273;</span>Log out
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>